body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  /* outline: 1px solid red; */
  position: relative;
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
}

.btn {
  outline: 15px solid black;
  position: absolute;
  width: 50%;
  height: 50%;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover{
  background-color: pink;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0;
}

.green {
  background-color: green;
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
}

.blue {
  background-color: blue;
  bottom: 0;
  right: 0;
  border-radius: 0 0 100% 0;
}

.yellow {
  background-color: yellow;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 100%;
}

.cutout {
  width: 50%;
  height: 50%;
  background-color: rgb(31, 31, 31);
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  pointer-events: none;
}

.cutout h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-top: 30%;
  color: #FEF2BF;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.spacing{
  margin: 23rem;
}
.copyright {
	color: rgb(150, 29, 108);
	font-size: 20px;
}